@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 100; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 200; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 300; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 600; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 900; 
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 100;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 200;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 300;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 400;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 500; 
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 600;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 700;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 800;
    font-stretch: expanded;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 400; 
    font-stretch: condensed;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 300; 
    font-stretch: condensed;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

body {
    background-color: rgba(0,0,0,.04);
}

a {
    position: relative;
    color: #000;
    text-decoration: none;
}
a[href^="tel"] {
    color: white !important;
}



.navbarContainer {
    display: flex;
    justify-content: center;
}

.navbar {
    justify-content: space-between;
    height: 100px;
    width: 100%;
    z-index: 1;
    padding: 0 25px;
}



.navbar, .navbarLeft, .navbarRight{
    display: flex;
    align-items: center;
}

.navbarLeft img {
    width: 85px;
}
.navbarPhone {
    display: none;
}



.navbarAccueil, .navbarAPropos, .navbarProjets{
    border-radius: 50px;
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.navbarAccueil p, .navbarAPropos p, .navbarProjets p{
    font-size: 18px;
    font-family: 'SF Pro', sans-serif;
    font-weight: 300;
}

.navbarAccueilPhone{
    border-radius: 50px; 
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.navbarAccueilPhone p{
    font-size: 18px;
    color: black;
    font-family: 'SF Pro', sans-serif;
    font-weight: 300;
}

.navbarSombre {
    border-radius: 50%;
    background-color: white;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.navbarSombre img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}




.home1Container {
    display: flex;
    justify-content: center;
}
.home1 {
    margin-top: -100px;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home1General {
    display: flex;
    height: 100%;
    width: 90%;
    justify-content: center;
}

.home1Left, .home1Right {
    width: 50%;
    display: flex;
    align-items: center;
}
.home1Left p {
    font-size: 80px;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 1.1;
}

.home1LeftSpecialText {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1.5px black;;
}

.home1RightBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    border-radius: 25px;
    background-color: black;
}
.home1RightBox p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}




.home1InfiniteText {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 17px;
    padding-block: 8px;
    overflow: hidden;
    user-select: none;
    width: 100%;
    --gap: 150px;
    display: flex;
    gap: var(--gap);
}

.home1InfiniteText ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);

    animation: scroll1 20s linear infinite;
}

@keyframes scroll1 {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.home1InfiniteTextSpecialTexte{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1.5px black;
}






.home2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    position: relative;
}


.home2title {
    padding-top: 75px;
    padding-bottom: 50px;
    width: 90%;
    z-index: 1;
}
.home2title p {
    font-family: 'SF Pro', sans-serif;
    font-weight: 300;
    font-size: 100px;
    color: white;
    line-height: 1;
}
.titlePart1 {
    position: relative;
}
.titlePart2 {   
    position: relative;
    left: 0;
    padding-top: 30px;
    transition: left 0.3s ease;
}
.titlePart2.active {
    left: 20%;
}

.home2div {
    display: flex;
    align-items: center; 
    flex-grow: 1;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 100px;
    z-index: 1;
}

.home2divLeft {
    width: 48%; 
    text-align: center; 
}

.home2LeftBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 90%;
    border-radius: 25px;
    background-color: #E9E9E9;

}
.home2LeftBox p{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}
.home2LeftBox img{
    display: none;
}


.home2divRight {
    width: 48%;
}
.home2divRight p {
    color: white;
}
.matthewLE p {
    display: flex;
    flex-direction: column;
    line-height: 0.8;
    padding-bottom: 25px;
}
.namePart1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 150px; /* Taille de "LE" */
    color: transparent; /* Texte transparent */
    -webkit-text-stroke: 1.5px #E9E9E9; /* Contour clair */
}
.namePart2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 100px;
    position: relative;
    left: 100px;
    width: fit-content;
}
.textMatthewLE p {
    font-family: 'SF Pro', sans-serif;
    font-weight: 500;
    font-size: 21px;
    text-align: left;
    color: #6e6e73;
}

.home3 {
    /* border: solid 2px red; */
    display: flex;
    justify-content: center;
}
.home3General {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
}
.left50 {
    display: flex;
    width: 50%;
    /* border: solid 2px purple; */
    justify-content: flex-end;


}
.right50 {
    display: flex;
    width: 50%;

}
.right50 p {
    display: none;
}
.home3Left {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 0.8;
    margin-right: 50px;
    margin-left: 50px;

}
.home3Left p {
    font-family: 'SF Pro', sans-serif; /* Police */
    font-stretch: expanded;
    font-size: calc(80vh / 3); /* Taille du texte */
    font-weight: 500; /* Gras */
    color: black; /* Couleur du texte */
    writing-mode: vertical-rl; /* Rend le texte vertical */
    text-orientation: mixed; /* Oriente correctement les caractères */
    transform: rotate(-180deg); /* Pivote le texte pour qu'il soit lisible en penchant la tête */
    text-align: center;
    letter-spacing: -10px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.home3Center {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
}
.home3Center h2 {
    font-family: 'SF Pro', sans-serif;
    font-stretch: condensed;
    font-weight: 400;
    text-align: right;
    font-size: 40px;
}

.home3CenterDown .faqQuestion {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: 'SF Pro', sans-serif;
    font-stretch: expanded;
    font-weight: 600;
    font-size: 50px;
    user-select: none;
    cursor: pointer;
    padding-top: 10px;
}
.home3CenterDown .faqAnwser {
    text-align: right;
    font-family: 'SF Pro', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #6e6e73;
    max-height: 0; /* Caché par défaut */
    opacity: 1;
    overflow: hidden; /* Cache le contenu */
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out

}
.home3CenterDown .faqAnwser.active {
    opacity: 1;
}

.home3CenterUp {
    padding-top: 50px;
}
.home3Right {
    /* border: solid 2px blue; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.home3Right img {
    max-height: 90vh;
    object-fit: cover;
}
.home3InfiniteCaroussel {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    background-color: black;
    margin-top: 50px;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    transform: skewY(-3deg);
}





.home3InfiniteText {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 15px;
    padding-block: 8px;
    overflow: hidden;
    user-select: none;
    width: 100%;
    --gap3: 60px;
    display: flex;
    gap: var(--gap3);
    background-color: black;
    color: white;
    padding: 25px 0;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    transform: skewY(-3deg);

}

.home3InfiniteText ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap3);

    animation: scroll3 15s linear infinite;
}

@keyframes scroll3 {
    to {
        transform: translateX(calc(-100% - var(--gap3)));
    }
}






.home3InfiniteCaroussel p {
    color: white;
    font-family: 'SF Pro', sans-serif;
    font-weight: 800;
}

.home4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.home4General {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 100%;
    
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 450px;
    min-height: 775px;
    position: relative;
    transition: transform 500ms ease-in-out;
    transform-style: preserve-3d;
}



.card.flip {
    transform: rotateY(180deg);
}

.side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 25px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 2px transparent;

}


.side--front {
    background-color: white;
    z-index: 1;
    border: solid 2px transparent;
    transition: 0.2s ease;
}
.side--front:hover {
    border-color: black;
}

.side--back {
    background-color: white;
    transform: rotateY(180deg);
    border: solid 2px transparent;
    transition: 0.2s ease;
}
.side--back:hover {
    border-color: black;
}



.card-title {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.19rem;
    color: black;
    font-weight: 600;
    padding-bottom: 10px;
}
.title {
    color: black;
    font-family: 'SF Pro', sans-serif;
    font-stretch: expanded;
    font-weight: 800;
    font-size: 25px;
}


.card-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: solid 1px black;
    background: none;
    cursor: pointer;
    transform: rotate(-30deg);
    transition: 0.4s ease;
    color: black;
    background: transparent;
}
.side--front:hover .card-button {
    color: white;
    background-color: black;
    transform: rotate(-45deg);
}
.side--back:hover .card-button {
    color: white;
    background-color: black;
    transform: rotate(-45deg);

}

.card-button-retour {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: solid 1px black;
    background: none;
    cursor: pointer;
    transition: 0.4s ease;
    color: black;
    background: transparent;
}

.atout {
    color: black;
    padding: 3px 10px;
    font-family: 'SF Pro';
    font-size: 13px;
    font-weight: 400;
    width: fit-content;
    border-radius: 10px;
    border: solid 1px black;
}
.atoutContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 25px;
}
.home4titre {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 500;
    padding: 10px 0;
    font-size: 19px;
    letter-spacing: -5%;
}
.home4description {
    font-family: 'Poppins', sans-serif;
    color: #222222;
    font-weight: 300;
    padding-bottom: 25px;
    font-size: 15px;
    letter-spacing: -5%;
}
.home4ProjetLink {
    margin-top: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}



.home4ProjetLink a {
    font-family: 'SF Pro', sans-serif;
    font-size: 16px;
    overflow: hidden;   
}

.home4ProjetLink a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.card:hover .home4ProjetLink a::before {
    transform: scaleX(1);
}



.home4ProjetLinkRetour a {
    font-family: 'SF Pro', sans-serif;
    font-size: 16px;

}
.home4ProjetLinkRetour a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.home4ProjetLinkRetour a:hover::before {
    transform: scaleX(1);
}





.home4BTN {
    width: fit-content;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: white;
    padding: 10px 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effet de grossissement sans affecter les éléments voisins */
.home4BTN:hover {
    transform: scale(1.05); /* Agrandit légèrement */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35); /* Accentue l'ombre */
}

.home4BTN p {
    width: fit-content;
    font-family: 'SF Pro', sans-serif;
    font-size: 18px;
    position: relative;
}
.home4BTN p::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.home4BTN:hover p::before {
    transform: scaleX(1);
}




.svg-container {
    position: absolute;
    top: calc(120vh);
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 579px;

}

.svg-container .sgv {
    height: 100% ;
    z-index: 0;
}





footer {
    display: flex;

}
.bigFooter {
    display: flex;
    background-color: #222222;
    justify-content: space-between;
    height: 275px;
    padding: 0px 100px;
    align-items: center;
    width: 100%;
}
.footerLeft {
    width: 350px;
}
.footerLeft p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 16px;
}
.footerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;

}
.footerCenter a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 16px;
}
.footerRight {
    width: 350px;
    display: flex;
    justify-content: right;
}
.phoneFooter {
    display: none;
}


@media (max-width: 480px) {
    .navbar {
        display: none;
    }
    .navbarPhone {
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 25px;
    }
    .navbarLeftPhone a {
        display: block;
        display: block;
        font-family: 'SF Pro', sans-serif;
        font-weight: 800;
        font-size: 30px;
    }

    .navbarAccueilPhone {
        padding: 7px 15px;
        font-size: 5px;
        background-color: black;
    }
    .navbarRightPhone p {
        font-size: 15px;
        color: white;
    }
    .home1 {
        margin-top: -70px;
        padding-top: 70px;
    }
    .home1General {
        flex-direction: column;
        width: 100%;
        padding: 0 25px;
    }
    .home1Left {
        width: 100%;
        height: fit-content;
        display: flex;
    }
    .home1Left p {
        font-size: 45px;
        width: 100%;
        text-align: left;
    }
    .home1Right {
        width: 100%;
        flex-grow: 1;
        display: flex;
    }
    .home1RightBox {
        height: 90%;
        padding: 20px 0;
    }
    .home1RightBox p {
        font-size: 35px;
    }
    .home1InfiniteText ul {
        animation: scroll1 15s linear infinite;
    }


    .home2 {
        padding: 0 25px;
        align-items: start;

    }
    .home2title {
        padding-top: 50px;
        padding-bottom: 25px;
        width: 100%;
    }
    .titlePart2.active {
        left: auto;
    }
    .home2title p{
        font-size: 33px;
    }
    .titlePart1 {
        position: relative;
    }
    .titlePart2 {   
        position: relative;
        left: 0px;
    }
    .home2div {
        flex-direction: column-reverse;
        justify-content: space-between;
        padding-bottom: 50px;
        gap: 50px;
        width: 100%;
    }
    .home2divRight {
        width: 100%;
        height: fit-content;
    }

    .matthewLE {
        display: none;
    }


    .home2divLeft {
        width: 100%;
        flex-grow: 1;
        display: flex;
    }
    .home2LeftBox {
        display: flex;
        height: 350px;
        width: 100%;
        border-radius: 0px;
        background-color: transparent;
    }
    .home2LeftBox img {
        display: block;
        border-radius: 20px;
    }
    .home2LeftBox p{
        display: none;
    }



    .home3 {
        /* border: solid 2px red; */
        display: flex;
        justify-content: center;
        padding: 50px 25px;
    }
    .home3General {
        flex-direction: column;
        margin-bottom: 25px;
    }
    .left50 {
        flex-direction: column;
        width: 100%;    
    }
    .right50 {
        display: flex;
        width: 100%;
    
    }
    .home3Left {
        display: none;
    
    }
    
    .home3Center {
        padding:0 0 50px 0;
        width: 100%;
    }
    .home3Center h2 {
        text-align: left;
    }
    .home3CenterUp {
        padding-top: 0;
    }
    
    .home3CenterDown .faqQuestion {
        text-align: left;
        font-size: 40px;
    }
    .home3CenterDown .faqAnwser {
        text-align: left;
    }

    .right50 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 100%;
        background-color: white;
        border-radius: 25px;
    }  
    .right50 p {
        font-family: 'SF Pro', sans-serif;
        font-weight: 800;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    .right50 img {
        display: none;
    }

    .home4 {
        padding: 50px 25px 0 25px;
    }
    .home4General {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: nowrap;
    }
    .home4Projet {
        width: 100%;
    }
    .home3InfiniteText{
        font-size: 20px;
    }
    .home3InfiniteText ul {
        animation: scroll3 12s linear infinite;
    }

    .card {
        min-height: 900px;
    }


    .bigFooter {
        display: none;
    }

    .phoneFooter {
        display: block;
        display: flex;
        flex-direction: column;
        background-color: #222222;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 50px 25px;
    }
    .footerLeft {
        text-align: center;
        width: fit-content;
        font-weight: 300;
        font-size: 16px;
    }
    .footerRight {
        justify-content: center;
        width: fit-content;
        color: white;
        font-family: 'SF Pro', sans-serif;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
    }

}
























