@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 100; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 200; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 300; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 600; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 900; 
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 100;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 200;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 300;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 400;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 500; 
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 600;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 700;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 800;
    font-stretch: expanded;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 400; 
    font-stretch: condensed;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 300; 
    font-stretch: condensed;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

body {
    background-color: #E9E9E9;
}

a {
    position: relative;
    color: #000;
    text-decoration: none;
}

.navbarContainer {
    display: flex;
    justify-content: center;
}

.navbar {
    justify-content: space-between;
    height: 100px;
    width: 95%;
    z-index: 1;
}



.navbar, .navbarLeft, .navbarRight{
    display: flex;
    align-items: center;
}

.navbarLeft img {
    width: 85px;
}



.navbarContact{
    border-radius: 50px;
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.navbarContact p{
    font-size: 18px;
    font-family: 'SF Pro', sans-serif;
    font-weight: 300;
}

.navbarMenu{
    border-radius: 50px; 
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.navbarMenu p{
    font-size: 18px;
    color: black;
    font-family: 'SF Pro', sans-serif;
    font-weight: 300;
}

.navbarSombre {
    border-radius: 50%;
    background-color: white;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.navbarSombre img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}



.projet1 {
    margin-top: -100px;
    height: 100vh;
    background-image: url(assets/media/fondMesProjets.png);
    background-size: cover;
    position: relative;
}
.projet1textContainer {
    width: fit-content;
    position: absolute;
    top: 36%;
    right: 21%;
}
.projet1specialText {
    color: white;
    font-family: 'SF Pro', sans-serif;
    font-weight: 200;
    font-size: 80px;
}
.projet1designedBy {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.projet2container {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
.projet2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projet2top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projet2top h2 {
    font-family: 'SF Pro', sans-serif;
    font-stretch: condensed;
    font-size: 70px;
    font-weight: 400;
}
.projet2ArrowsBTN {
    display: flex;
    gap: 10px;
}
.projet2Arrow {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 50px;
}
.projet2Arrow a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.projet2bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}



.card-wrapper {
    margin: 0 0 35px 0;
    padding: 50px 10px 20px 0;
    overflow: hidden;
}


.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: white;
    padding: 20px 25px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: solid 2px transparent;
    transition: 0.2s ease;
    height: 450px;
}
.card-list .card-item .card-link:hover {
    border-color: black;
}

.card-title {
    display: flex;
    gap: 10px;
    align-items: center;
}
.card-list .card-link .title {
    color: black;
    font-family: 'SF Pro', sans-serif;
    font-stretch: expanded;
    font-weight: 800;
    font-size: 25px;
}
.card-list .card-link .badge {
    color: black;
    padding: 3px 10px;
    font-family: 'SF Pro';
    font-size: 13px;
    font-weight: 400;
    margin: 16px 0 18px;
    width: fit-content;
    border-radius: 10px;
    border: solid 1px black;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: black;
    font-weight: 600;
}

.card-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: solid 1px black;
    background: none;
    cursor: pointer;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}
.card-list .card-link:hover .card-button {
    color: white;
    background: black;
}

.projet3container {
    padding: 50px 0 250px 0;
}
.projet3paralaxText1 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: black;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
}
.projet3paralaxText2 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1.5px black;
    overflow: hidden;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
}
.projet3paralaxText1 ul, .projet3paralaxText2 ul {
    display: flex;
    width: fit-content;
    list-style: none;

}
.projet3paralaxText1 li, .projet3paralaxText2 li {
    flex-shrink: 0;
}


.projet4container {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.projet4 {
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.projet4left {
    width: 50%;
}
.projet4text1 {
    font-family: 'SF Pro', sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.projet4text2 {
    font-family: 'SF Pro', sans-serif;
    font-weight: 500;
    font-stretch: condensed;
    font-size: 70px;
    padding: 10px 0;
    width: 90%;
}
.projet4text3 {
    font-family: 'SF Pro', sans-serif;
    font-size: 17px;
    font-weight: 300;
    width: 80%;
}
.projet4right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Taille ajustable */
    position: relative;
    flex-wrap: wrap;
}

.projet4rightImage {
    width: 200px; /* Taille des images */
    object-fit: cover;
    border-radius: 10px;
    position: absolute; /* Permet le chevauchement */
}

/* Placement des images avec un effet d'entrecroisement */
.leftTop {
    top: 10%;
    left: 10%;
    transform: translate(-20%, -20%);
}

.leftBottom {
    bottom: 10%;
    left: 10%;
    transform: translate(-20%, 20%);
}

.center {
    z-index: 2; /* Met l'image centrale au-dessus */
}

.rightTop {
    top: 10%;
    right: 10%;
    transform: translate(20%, -20%);
}

.leftCenter {
    bottom: 10%;
    right: 10%;
    transform: translate(20%, 20%);
}

.projet5container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/media/fontContact.png);
    background-size: cover;
}
.projet5contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding: 50px 0;
}
.projet5contactLeft {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}
.projet5specialText {
    font-family: 'SF Pro', sans-serif;
    font-stretch: expanded;
    font-weight: 300;
    font-size: 30px;
}
.projet5Text {
    font-family: 'SF Pro', sans-serif;
    font-stretch: normal;
    text-align: center;
    font-weight: 300;
}
.projet5map {
    width: 90%;
    height: 300px;
}
.projet5contactRight {
    width: 48%;
    color: white;
}
.projet5contactRight p {
    font-family: 'SF Pro', sans-serif;
    font-stretch: condensed;
    font-size: 70px;
    font-weight: 500;
    text-align: right;
    padding-bottom: 20px;
}
.projet5contactRightForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projet5contactInput {
    border: solid 1px white;
    border-radius: 20px;
    padding: 20px 20px;
    background-color: #D9D9D9;
    font-family: 'SF Pro', sans-serif;
    font-stretch: expanded;
    font-weight: 300;
}
.projet5contactInput::placeholder {
    color: black; /* Placeholder en noir */
    opacity: 1; /* Assure la visibilité maximale */
}
.votreMessage {
    height: 125px;
    resize: none; /* Empêche le redimensionnement manuel */
    text-align: left; /* Aligne le texte à gauche */
}

.projet5contactRightForm button {
    padding: 20px;
    background-color: #D9D9D9;
    width: 50%;
    border-radius: 20px;
    border: solid 1px white;
    font-family: 'SF Pro', sans-serif;
    font-stretch: expanded;
    font-weight: 300;
}



footer {
    display: flex;
    background-color: #222222;
    justify-content: space-between;
    height: 275px;
    padding: 0px 100px;
    align-items: center;
}

.footerLeft {
    width: 350px;
}
.footerLeft p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 16px;
}
.footerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;

}
.footerCenter a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 16px;
}
.footerRight {
    width: 350px;
    display: flex;
    justify-content: right;
}