@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 100; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 200; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 300; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 600; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 900; 
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 100;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 200;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 300;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 400;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 500; 
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 600;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 700;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 800;
    font-stretch: expanded;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 400; 
    font-stretch: condensed;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 300; 
    font-stretch: condensed;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

body {
    background-color: rgba(0,0,0,.04);
}

a {
    position: relative;
    color: #000;
    text-decoration: none;
}

.navbarContainer {
    display: flex;
    justify-content: center;
}

.navbar {
    justify-content: space-between;
    height: 100px;
    width: 95%;
    z-index: 1;
}



.navbar, .navbarLeft, .navbarRight{
    display: flex;
    align-items: center;
}

.navbarLeft img {
    width: 85px;
}
.navbarLeft p {
    display: none;
}



.navbarContact{
    border-radius: 50px;
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.navbarContact p{
    font-size: 18px;
    font-family: 'SF Pro', sans-serif;
    font-weight: 300;
}

.navbarMenu{
    border-radius: 50px; 
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.navbarMenu p{
    font-size: 18px;
    color: black;
    font-family: 'SF Pro', sans-serif;
    font-weight: 300;
}

.navbarSombre {
    border-radius: 50%;
    background-color: white;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.navbarSombre img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}



.projet1 {
    margin-top: -100px;
    height: 100svh;
    background-color: black;
}
.projet1textContainer {
    width: fit-content;
    position: absolute;
    top: 40%;
    left: calc(60% + 25px);
}

.projet1specialText, .projet1designedBy {
    color: white;
    font-family: 'SF Pro', sans-serif;
    font-weight: 200;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease-in-out forwards;
}

/* Délai différent pour chaque élément */
.projet1specialText:nth-child(1) {
    animation-delay: 1.5s;
    font-size: 80px;
}
.projet1specialText:nth-child(2) {
    animation-delay: 1.8s;
    font-size: 80px;
}
.projet1specialText:nth-child(3) {
    animation-delay: 2.1s;
    font-size: 80px;
}
.projet1designedBy {
    animation-delay: 2.4s;
    font-family: 'Poppins', sans-serif;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}










.projet2container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.projet2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projet2top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projet2top h2 {
    font-family: 'SF Pro', sans-serif;
    font-stretch: condensed;
    font-size: 70px;
    font-weight: 400;
}
.projet2ArrowsBTN {
    display: flex;
    gap: 10px;
}
.projet2Arrow {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 50px;
}
.projet2Arrow a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.projet2bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}



.card-wrapper {
    margin: 0 0 35px 0;
    padding: 50px 10px 20px 0;
    overflow: hidden;
}


.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: white;
    padding: 20px 25px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
    min-width: 300px;
}
.card-list .card-item .card-link .contentContainer {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    padding: 20px 25px;
    border-radius: 15px;
    text-decoration: none;
    border: solid 2px transparent;
    transition: 0.2s ease;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    min-height: 700px;
}

.card-list .card-item .card-link .contentContainer:hover {
    transform: scale(1.01);
}
.card-list .card-item .card-link:hover {
    border-color: black;
}
.card-list .card-item .card-link.slide1{
    background-image: url(assets/media/fondMacos1.jpg);
    background-size: cover;
    background-position: center;
}
.card-list .card-item .card-link.slide2{
    background-image: url(assets/media/fondMacos2.jpg);
    background-size: cover;
    background-position: center;
}
.card-list .card-item .card-link.slide3{
    background-image: url(assets/media/fondMacos3.jpg);
    background-size: cover;
    background-position: center;
}
.card-list .card-item .card-link.slide4{
    background-image: url(assets/media/fondMacos4.png);
    background-size: cover;
    background-position: center;
}
.card-list .card-item .card-link.slide5{
    background-image: url(assets/media/fondMacos5.png);
    background-size: cover;
    background-position: center;
}
.card-list .card-item .card-link.slide6{
    background-image: url(assets/media/fondMacos6.jpg);
    background-size: cover;
    background-position: center;
}
.card-list .card-item .card-link.slide7{
    background-image: url(assets/media/fondMacos7.jpg);
    background-size: cover;
    background-position: center;
}

.card-title {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
}
.card-list .card-link .title {
    color: white;
    font-family: 'SF Pro', sans-serif;
    font-stretch: expanded;
    font-weight: 800;
    font-size: 25px;
}
.card-list .card-link .description {
    font-family: 'SF Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 10px;
    color: white;
}
.atout {
    color: white;
    padding: 3px 10px;
    font-family: 'SF Pro';
    font-size: 13px;
    font-weight: 400;
    width: fit-content;
    border-radius: 10px;
    border: solid 0.75px white;
}
.atoutContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 25px;
}
.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: black;
    font-weight: 600;
}

.card-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: solid 1px white;
    background: none;
    cursor: pointer;
    transform: rotate(-45deg);
    transition: 0.4s ease;
    color: white;
}
.card-list .card-link:hover .card-button {
    color: black;
    background: white;
}


.projet3container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: rotate(5deg);
    position: relative;
    margin: 11.11em 0;
}

.projet3paralaxText1, .projet3paralaxText2{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 900;
    white-space: nowrap;
    text-align: center;
    transform: translateX(-50%);
    line-height: 100%;
}


.projet3paralaxText2 {
    color: transparent;
    -webkit-text-stroke: 1.5px black;
}



/* 
.projet3container {
    padding: 50px 0 250px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.projet3paralaxText1, .projet3paralaxText2 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 800;
    white-space: nowrap; /* Force le texte à rester sur une seule ligne
    position: absolute;
    text-align: center;
}

.projet3paralaxText1 {
    color: black;
    transform: translateX(-50%) rotate(5deg);
    left: 50%;
}

.projet3paralaxText2 {
    color: transparent;
    -webkit-text-stroke: 1.5px black;
    transform: translateX(-50%) rotate(5deg);
    left: 50%;
} */




.projet4container {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.projet4 {
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.projet4left {
    width: 50%;
}
.projet4text1 {
    font-family: 'SF Pro', sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.projet4text2 {
    font-family: 'SF Pro', sans-serif;
    font-weight: 500;
    font-stretch: condensed;
    font-size: 70px;
    padding: 10px 0;
    width: 90%;
}
.projet4text3 {
    font-family: 'SF Pro', sans-serif;
    font-size: 17px;
    font-weight: 300;
    width: 80%;
}
.projet4right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Taille ajustable */
    position: relative;
    flex-wrap: wrap;
}

.projet4rightImage {
    width: 200px; /* Taille des images */
    object-fit: cover;
    border-radius: 10px;
    position: absolute; /* Permet le chevauchement */
}

/* Placement des images avec un effet d'entrecroisement */
.leftTop {
    top: 10%;
    left: 10%;
    transform: translate(-20%, -20%);
}

.leftBottom {
    bottom: 10%;
    left: 10%;
    transform: translate(-20%, 20%);
}

.center {
    z-index: 2; /* Met l'image centrale au-dessus */
}

.rightTop {
    top: 10%;
    right: 10%;
    transform: translate(20%, -20%);
}

.leftCenter {
    bottom: 10%;
    right: 10%;
    transform: translate(20%, 20%);
}

.projet5container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/media/fontContact.png);
    background-size: cover;
}
.projet5contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding: 50px 0;
}
.projet5contactLeft {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}
.projet5specialText {
    font-family: 'SF Pro', sans-serif;
    font-stretch: condensed;
    font-weight: 400;
    font-size: 40px;
}
.projet5Text {
    font-family: 'SF Pro', sans-serif;
    font-stretch: normal;
    text-align: center;
    font-weight: 300;
}
.projet5map {
    width: 90%;
    height: 300px;
}
.projet5contactRight {
    width: 48%;
    color: white;
}
.projet5contactRight p {
    font-family: 'SF Pro', sans-serif;
    font-stretch: condensed;
    font-size: 70px;
    font-weight: 500;
    text-align: right;
    padding-bottom: 20px;
}
.projet5contactRightForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projet5contactInput {
    border: solid 1px white;
    border-radius: 20px;
    padding: 20px 20px;
    background-color: #D9D9D9;
    font-family: 'SF Pro', sans-serif;
    font-stretch: expanded;
    font-weight: 300;
}
.projet5contactInput::placeholder {
    color: black; /* Placeholder en noir */
    opacity: 1; /* Assure la visibilité maximale */
}
.votreMessage {
    height: 125px;
    resize: none; /* Empêche le redimensionnement manuel */
    text-align: left; /* Aligne le texte à gauche */
}

.projet5contactRightForm button {
    padding: 20px;
    background-color: #D9D9D9;
    width: 50%;
    border-radius: 20px;
    border: solid 1px white;
    font-family: 'SF Pro', sans-serif;
    font-stretch: expanded;
    font-weight: 300;
}


.svg-container {
    position: absolute;
    top: 24%;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 60%;
    height: 579px;

}

.svg-container .sgv {
    height: 100% ;
    /* z-index: 0; */
}

.svg-container-phone {
    display: none;
}


footer {
    display: flex;

}
.bigFooter {
    display: flex;
    background-color: #222222;
    justify-content: space-between;
    height: 275px;
    padding: 0px 100px;
    align-items: center;
    width: 100%;
}
.footerLeft {
    width: 350px;
}
.footerLeft p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 16px;
}
.footerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;

}
.footerCenter a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 16px;
}
.footerRight {
    width: 350px;
    display: flex;
    justify-content: right;
}
.phoneFooter {
    display: none;
}

@media (max-width: 480px) {
    .navbarMenu, .navbarSombre {
        display: none;
    }
    .navbar {
        height: 70px;
    }
    .navbarLeft a {
        display: none;
    }
    .navbarLeft p {
        display: block;
        font-family: 'SF Pro', sans-serif;
        font-weight: 800;
        font-size: 30px;
        padding-left: 20px;
        color: white;
    }
    .navbarContact {
        padding: 7px 15px;
        font-size: 5px;
        background-color: white;
    }
    .navbarContact p {
        font-size: 15px;
        color: black;
    }
    .navbar {
        opacity: 0;
        animation: fadeInUpNavbar 0.6s ease-in-out 2s forwards;
    }
    @keyframes fadeInUpNavbar {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }




    .projet1 {
        margin-top: -70px;
    }
    .projet1textContainer {
        position: absolute;
        bottom: 0;
        left: 0;
        top:auto;
        padding-bottom: 20px;
        padding-left: 20px;
    }
    .projet1specialText:nth-child(1) {
        animation-delay: 2s;
        font-size: 60px;
    }
    .projet1specialText:nth-child(2) {
        animation-delay: 2.3s;
        font-size: 60px;
    }
    .projet1specialText:nth-child(3) {
        animation-delay: 2.6s;
        font-size: 60px;
    }
    .projet1designedBy {
        animation-delay: 2.9s;
    }
    .svg-container {
        display: none;
    }
    .svg-container-phone {
        position: absolute;
        top: calc(50% - (201px / 2));
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 201px;
    
    }
    
    .svg-container-phone .sgv {
        height: 100% ;
        /* z-index: 0; */
    }



    .projet2 {
        width: 100%;
    }
    .projet2top {
        padding: 0 20px;
    }
    .projet2top h2 {
        font-size: 50px;
    }
    .projet2bottom {
        padding: 25px 20px;
    }

    .card-wrapper {
        padding: 0;
    }

    .projet3container {
        margin: 100px 0;
    }
    .projet3paralaxText1, .projet3paralaxText2 {
        font-size: 35px;
    }

    .projet5container{
        padding: 0 20px;
    }
    .projet5contact {
        flex-direction: column-reverse;
        gap: 25px;
        width: 100%;
    }
    .projet5contactLeft {
        width: 100%;
    }
    .projet5map {
        width: 100%;
    }
    .projet5contactRight {
        width: 100%;
    }
    .projet5contactRight p {
        font-size: 50px;
    }



    .bigFooter {
        display: none;
    }

    .phoneFooter {
        display: block;
        display: flex;
        flex-direction: column;
        background-color: #222222;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 50px 25px;
    }
    .footerLeft {
        text-align: center;
        width: fit-content;
        font-weight: 300;
        font-size: 16px;
    }
    .footerRight {
        justify-content: center;
        width: fit-content;
        color: white;
        font-family: 'SF Pro', sans-serif;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
    }
}